/*Button*/
.btn{
    background-color: rgb(248, 248, 248);
    border-width:5px;  
    border-style:none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(65, 64, 64);
}


/*Navbar*/
.navbar-brand {
    background-color: rgb(0, 158, 145);
    font-family: "Times New Roman", Times, serif;
    margin-left: 100px;
    margin-top: -9px;   
}

nav{
height: 63px;

}

h6{
    color:white;
    font-size:2.5vw;
    font-weight: bold;
    
    padding-left: 10px; 
    padding-right: 15px;  
}

ul {
position: absolute;
/*position: -ms-page*/
right: 100px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;

}

a.nav-link{
    margin-left: 20px;
    color:rgb(0, 0, 0);
}

div.container{
    background-color: gray;
    
}




img {
    float: left;
  }

a{
   
    font-size: 20px;
    padding-top: 500px

    
    
}

a2{
    
    font-size: 20px;
    color: rgb(122, 122, 122)
    
}
p{
    color: rgb(122, 122, 122);
    font-family: Arial, Helvetica, sans-serif;
}

div.row{
    padding-top: 50px
}

h1{
    padding-top:50px;
    margin-left: 60px
}

h1{
    color: rgb(0, 158, 145);
    padding: 50px;
}





.col-xl-5{
    background-color: white;
    
}

.col-xl-7{
    background-color: white;
    
}

body{
    background-color: rgb(224, 224, 224)
}